BABE_CHAT_JID=personaB@s.whatsapp.net
BABE_CHAT_NAME=Persona B
BABE_DISPLAY_NAME=Persona B
BABE_CHAT_PHONE=+000 0000 0000
ME_DISPLAY_NAME=Persona A
STORY_BRAND_LABEL=Tu historia
AUTHOR_SIGNATURE=Tu Nombre
WHATSAPP_TIMEZONE=America/Guatemala
